<div *ngIf="dataLoaded==false" class="spinner-border text-primary mt-3" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="animes  mt-3">
 <div class="row">
  <div class="col-md-6" *ngFor="let anime of animes  | paginate: {id:'mal_id', itemsPerPage:count,currentPage:p,totalItems: maxCount}">
    <div class="card mb-2" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <a routerLink="/anime/{{anime.mal_id}}">
            <img src="{{anime.images.jpg.image_url}}" class="img-fluid rounded-start">
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a class="card-title" routerLink="/anime/{{anime.mal_id}}">{{anime.title}}</a>
            <p class="card-text">{{anime.synopsis}}}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>


<pagination-controls
  (pageChange)="handlePageChange($event)"
></pagination-controls>
<div  *ngFor="let anime of animes | paginate: {
  itemsPerPage: count,
  currentPage: p,
  totalItems: maxCount
}"></div>
